
.enterBtn {
  -fx-background-color: radial-gradient(radius 250%, #4CEA24, derive(#4CEA24, -30%), derive(#4CEA24, 30%));
  -fx-border-color: #12A217;
  -fx-border-radius: 3%;
}

.enterBtn:hover {
  -fx-background-color: radial-gradient(radius 250%, #66FA75, derive(#66FA75, -30%), derive(#66FA75, 30%));
}

.endTurnBtn {
  -fx-background-color: radial-gradient(radius 250%, #EF4646, derive(#EF4646, -30%), derive(#EF4646, 30%));
  -fx-border-color: #B02121;
  -fx-border-radius: 3%;
}

.endTurnBtn:hover {
  -fx-background-color: radial-gradient(radius 250%, #FE6565, derive(#FE6565, -30%), derive(#FE6565, 30%));
}


.cancelBtn {
  -fx-background-color: radial-gradient(radius 250%, #FEAA01, derive(#FEAA01, -30%), derive(#FEAA01, 30%));
  -fx-border-color: #EA9D01;
  -fx-border-radius: 3%;
}

.cancelBtn:hover {
  -fx-background-color: radial-gradient(radius 250%, #FEC146, derive(#FEC146, -30%), derive(#FEC146, 30%));
}

.jokerBtn {
  -fx-background-color: radial-gradient(radius 250%, #F0E68C, derive(#F0E68C, -30%), derive(#F0E68C, 30%));
  -fx-border-color: #BDB76B;
  -fx-border-radius: 3%;
}

.jokerBtn:hover {
  -fx-background-color: radial-gradient(radius 250%, #F0F2BB, derive(#F0F2BB, -30%), derive(#F0F2BB, 30%));
}

.addTo {
  -fx-background-color: radial-gradient(radius 250%, #2FC0FE, derive(#2FC0FE, -30%), derive(#2FC0FE, 30%));
  -fx-border-color: #2099CD;
  -fx-border-radius: 3%;
}

.addTo:hover {
  -fx-background-color: radial-gradient(radius 250%, #66E1FA, derive(#66E1FA, -30%), derive(#66E1FA, 30%));
}

.placeSelection {
  -fx-background-color: radial-gradient(radius 250%, #D166FE, derive(#D166FE, -30%), derive(#D166FE, 30%));
  -fx-border-color: #B201FE;
  -fx-border-radius: 3%;
}

.placeSelection:hover {
  -fx-background-color: radial-gradient(radius 250%, #DF96FE, derive(#DF96FE, -30%), derive(#DF96FE, 30%));
}

.tooltip {
  -fx-show-delay: 0s;
}

